server:
  port: 8082

spring:
  application:
    name: patient-service
  datasource:
    url: jdbc:postgresql://localhost:5432/raksha_hms_core
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # Change to validate in production
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
